.cart-menu {
    position: relative;
    list-style: none;
}

#cart {
    display: none;
}

.cart-menu:hover #cart {
    display: block;
    position: absolute;
    right:0;
    top:100%;
    z-index: 1;
    background-color: greenyellow;
    padding: 20px;
    min-height: 400px;
    min-width: 300px;
}